mat-chip.green500 {
  background-color: #4caf50;
  color: #ffffff;
}

mat-chip.red500 {
  background-color: #f44336;
  color: #ffffff;
}

mat-chip.amber500 {
  background-color: #ffc107;
  color: #000000;
}

mat-chip:hover::after,
mat-chip:focus::after {
  opacity: 0;
}

mat-chip-list {
  margin-left: auto;
}
