<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://cdn.discordapp.com/avatars/557478626614837248/9e308cd31396f88e597baad9249107e6.png"
    />
    <mat-card-title>
      Bot info
    </mat-card-title>
    <mat-card-subtitle>Author: lawfx</mat-card-subtitle>
    <mat-card-subtitle>Author: lawfx</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="warn">SHUTDOWN</button>
    <button mat-raised-button>RESTART</button>
  </mat-card-actions>
</mat-card>
