<div class="container pb-5">
  <div class="col-md-12 col-lg-6 offset-lg-3 pt-4">
    <app-bot-info botName="janusz"></app-bot-info>
  </div>
  <div class="pt-4">
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab #notificationsTab="matTab">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">notifications</mat-icon>
          Notifications
        </ng-template>
        <div class="py-4" *ngIf="notificationsTab.isActive">
          <app-janusz-notifications></app-janusz-notifications>
        </div>
      </mat-tab>

      <mat-tab #holidaysTab="matTab">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">event_available</mat-icon>
          Holidays
        </ng-template>
        <div class="py-4" *ngIf="holidaysTab.isActive">
          <app-janusz-holidays></app-janusz-holidays>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
