<nav mat-tab-nav-bar mat-align-tabs="center">
  <div
    mat-tab-link
    routerLink="/redalert"
    routerLinkActive
    #redalertActive="routerLinkActive"
    [active]="redalertActive.isActive"
    [class.full-opacity]="redalertActive.isActive"
  >
    <img
      class="nav-avatar"
      *ngIf="redAlert.avatarURL !== undefined"
      [src]="redAlert.avatarURL"
    />
    {{ redAlert.username === undefined ? 'Bot' : redAlert.username }}
  </div>
  <div
    mat-tab-link
    routerLink="/janusz"
    routerLinkActive
    #januszActive="routerLinkActive"
    [active]="januszActive.isActive"
    [class.full-opacity]="januszActive.isActive"
  >
    <img
      class="nav-avatar"
      *ngIf="janusz.avatarURL !== undefined"
      [src]="janusz.avatarURL"
    />
    {{ janusz.username === undefined ? 'Bot' : janusz.username }}
  </div>
</nav>
