table {
  width: 100%;
}

tr.notification-detail-row {
  height: 0;
}

tr.notification-expanded-row {
  background: #3f51b511;
}

tr.notification-element-row:not(.notification-expanded-row):hover {
  background: #3f51b533;
}

tr.notification-element-row:hover {
  cursor: pointer;
}

tr.notification-element-row:not(.notification-expanded-row):active {
  background: #efefef;
}

.notification-element-row td {
  border-bottom-width: 0;
}

.notification-element-detail {
  overflow: hidden;
}

mat-header-cell.width200,
mat-cell.width200 {
  flex: 0 0 200px;
}

th.width200,
td.width200 {
  width: 200px;
}

mat-header-cell.width100,
mat-cell.width100 {
  flex: 0 0 100px;
}

th.width100,
td.width100 {
  width: 100px;
}

.indigo500-tint {
  background: #3f51b511;
}
